<html>
    <head>
        {% if title %}
        <title>{{ title }} - Notes</title>
        {% else %}
        <title>Notes</title>
        {% endif %}
    </head>
    <body>
        <div><font size="5" color="#CD5C5C" face="helvetica">
            Notes:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('add_document') }}">Add document</a>
        </font></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>