{% extends "base.html" %}

{% block content %}
    <h1><font size="6">
        Sign In
    </font></h1>

    <form action="" method="post"  novalidate>

        {{ form.hidden_tag() }}
        <p><font size="6" color="#000080">
            {{ form.username.label }}<br>
            {{ form.username(size=64) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </font></p>
        <p><font size="6" color="#000080">
            {{ form.password.label }}<br>
            {{ form.password(size=64) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </font></p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>

    </form>

 {% endblock %}