
lesson 1/hh.py
lesson 1/test.py
average2.py
average3.py
test.py
/choices_test.py
/random_test.py
/test_1.py
calculator3.py

/cal3.py
/test2.py
/lesson 9/task_2_111.py
/test4444.py
/lesson 10/lesson10_2.py
/test11.py
/test1.py
/codewars/
