{% extends "base.html" %}

{% block content %}


<div class="bg-info" >
<blockquote class="blockquote text-center">
<h1><span class="align-top text-white font-weight-bold ">Добавление Автопоезда</span></h1>
</blockquote>
<div class="container mt-5 align-top" >
    <form method="post">
        <input type="text" name="id_autotrain" id="id" class="form-control" placeholder="Введите порядковый номер"><br>
        <input type="text" name="truck_license_plate" id="truck_id" class="form-control" placeholder="Введите гос. номер авто"><br>
        <input type="date" name="trailer_license_plate" id="trailer_id" class="form-control" placeholder="Введите гос. номер прицепа"><br>
        <input type="text" name="driver_name" id="driver_id" class="form-control" placeholder="Введите фамилию имя водителя"><br>
        <input type="date" name="phone" id="phone" class="form-control" placeholder="Введите номер телефона"><br>

        <input type="submit" class="btn btn-success bg-danger" value="Add train"><br>

    </form>
</div>
</div>

 {% endblock %}