{% extends "base.html" %}

{% block content %}


<div class="container mt-5" >
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Введите название документа"><br>
        <input type="date" name="exp_date" id="exp_date" class="form-control" placeholder="Введите дату окончания"><br>
        <input type="text" name="truck_id" id="truck_id" class="form-control" placeholder="Введите гос. номер тягача"><br>
        <input type="text" name="trailer_id" id="trailer_id" class="form-control" placeholder="Введите гос. номер прицепа"><br>
        <input type="text" name="driver_id" id="driver_id" class="form-control" placeholder="Введите Фамилию Имя водителя"><br>
        <input type="submit" class="btn btn-success" value="Add doc"><br>

    </form>
</div>
 {% endblock %}