<html>
    <head>
<!--      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
      {% if title %}
      <title>{{ title }} - AUTO VELITA</title>
      {% else %}
      <title>AUTO VELITA</title>
      {% endif %}
    </head>
    <body>
        <div><font size="5" color="#CD5C5C" face="helvetica">
            Notes:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('add_document') }}">Add</a>
        </font></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>