<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      {% if title %}
      <title>{{ title }} - AUTO VELITA</title>
      {% else %}
      <title>AUTO VELITA</title>
      {% endif %}
    </head>
    <body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Auto Velita</h5>

  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/index">Home</a>
    <a class="p-2 text-dark" href="/add_document">Add</a>
    <a class="p-2 text-dark" href="/add_doc">Add doc</a>
  </nav>
     </div>
        <hr>
        {% block content %}{% endblock %}

    </body>
</html>