{% extends "base.html" %}

{% block content %}


    {% for train, driver_phone in autotrains|zip(get_phone) %}

<div class="my-1 p-1 bg-white rounded shadow-sm">

    <div class="media text-muted pt-2">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
           preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
          <title>Placeholder</title></svg>
      <div class="media-body pb-1 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <h2><strong class="my-2 mr-md-auto font-weight-200">{{ train.autotrain_id }}. SCANIA {{ train.truck_id }}  / {{ train.trailer_id }}
            {{train.driver_id}}  {{ driver_phone.phone }}</strong></h2>
          <a href="#">Редактировать</a>
        </div>
      </div>
    </div>
  </div>





    {% endfor %}






    <form action="/add_train" method="post"  novalidate>

        {{ form.hidden_tag() }}
        <p><font size="4" color="#000080">
            {{ form.id_autotrain.label }}<br>
            {{ form.id_autotrain(size=42) }}<br>
        </font></p>
        <p><font size="4" color="#000080">
            {{ form.truck_license_plate.label }}<br>
            {{ form.truck_license_plate(size=42) }}<br>
        </font></p>
        <p><font size="4" color="#000080">
            {{ form.trailer_license_plate.label }}<br>
            {{ form.trailer_license_plate(size=42) }}<br>
        </font></p>
        <p><font size="4" color="#000080">
            {{ form.driver_name.label }}<br>
            {{ form.driver_name(size=42) }}<br>
        </font></p>
        <p><font size="4" color="#000080">
            {{ form.phone.label }}<br>
            {{ form.phone(size=42) }}<br>
        </font></p>
        <input type="submit" class="btn btn-primary btn-lg" name="save" value="save" role="button" >

    </form>

{% endblock %}