{% extends "base.html" %}

{% block content %}

<div class="container">
    {% for train, driver_phone in autotrains|zip(get_phone) %}
     <div class="alert alert-info">
        <div class="my-0 p-0  rounded shadow-sm">
            <div class="media text-muted pt-0">
              <div class="media-body pb-1 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                  <h3><strong class="my-0 mr-md-auto font-weight-lighter">{{ train.autotrain_id }}. SCANIA {{ train.truck_id }}  / {{ train.trailer_id }}
                      {{train.driver_id}}  {{ driver_phone.phone }}</strong></h3>
                  <h6 class="my-0"><a href="/index/{{train.autotrain_id}}">Редактировать</a></h6>
                </div>
              </div>
            </div>
        </div>
     </div>

    {% endfor %}


    <form action="/add_train" method="post"  novalidate>

        {{ form.hidden_tag() }}
        <p><font size="4" color="#000080">
            {{ form.id_autotrain.label }}<br>
            {{ form.id_autotrain(size=42) }}<br>
        </font></p>
        <p><font size="4" color="#000080">
            {{ form.truck_license_plate.label }}<br>
            {{ form.truck_license_plate(size=42) }}<br>
        </font></p>
        <p><font size="4" color="#000080">
            {{ form.trailer_license_plate.label }}<br>
            {{ form.trailer_license_plate(size=42) }}<br>
        </font></p>
        <p><font size="4" color="#000080">
            {{ form.driver_name.label }}<br>
            {{ form.driver_name(size=42) }}<br>
        </font></p>
        <p><font size="4" color="#000080">
            {{ form.phone.label }}<br>
            {{ form.phone(size=42) }}<br>
        </font></p>
        <input type="submit" class="btn btn-primary btn-lg" name="save" value="save" role="button" >

    </form>
</div>
{% endblock %}